$pink: hsl(322, 100%, 66%);
$veryPaleCyan: hsl(193, 100%, 96%);
$veryDarkCyan: hsl(192, 100%, 9%);
$grayishBlue: hsl(208, 11%, 55%);

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-image: url(../images/bg-hero-mobile.svg);
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    letter-spacing: .5px;
    text-align: center;
}

.container {
    max-width: 1440px;
    width: 95%;
    margin: 0 auto;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 600;
    margin-bottom: 1.1rem;
}

h1 {
    font-size: 1.33em;
}

p {
    font-size: .89em;
    margin-bottom: 1.1rem;
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

header {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: $veryPaleCyan;

    .container {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;

        img {
            width: 100px;
        }

        a {
            text-decoration: none;
            color: $veryDarkCyan;
            font-size: .69em;
            letter-spacing: initial;
            font-weight: 600;
            background-color: white;
            padding: 3px 20px;
            border-radius: 50px;
            border: 1px solid;
        }
    }
}

.hero {
    background-color: rgba($veryPaleCyan, .6);
    padding-right: 10px;
    padding-left: 10px;

    .hero__btn {
        text-decoration: none;
        color: white;
        font-size: .69em;
        letter-spacing: initial;
        font-weight: 600;
        background-color: $pink;
        border-radius: 50px;
        padding: 12px 50px;
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .hero__illustration {
        width: 95%;
        margin-top: 30px;
    }
}